h1
{
  font-size: 50px;
}
p
{
  font-size: 150px;
}

.container{
  background: rgba(0, 177, 255, 0.2);
  border-style: none;

  margin-top: 100px;
  margin-bottom: 100px;

  padding: 50px 50px 50px 50px;

}

.button1
{
  width: 250px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button1:hover {
  background-color: dodgerblue;
  color: white;
}

.button2
{
  width: 250px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button2:hover {
  background-color: green;
  color: white;
}

.button3
{
  width: 250px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button3:hover {
  background-color: red;
  color: white;
}



